In [1]:
import pandas as pd
import psycopg2
import os
from dotenv import load_dotenv

In [2]:
#!pip install SQLAlchemy==2.0.15
from sqlalchemy import create_engine

#read the database string from the .env
load_dotenv()

DB_STRING = os.getenv('DB_STRING')

db = create_engine(DB_STRING)

In [15]:
from sqlalchemy import text
import pandas as pd

query_string = """
SELECT 
    date_trunc('month', to_date(date, 'DD.MM.YYYY'))::date AS month,
    EXTRACT(YEAR FROM to_date(date, 'DD.MM.YYYY')) AS year,
    SUM(value) AS monthly_revenue
FROM takemehome.prognostica_daten_kunden
WHERE customer NOT LIKE '%DEK'
GROUP BY 1, 2
ORDER BY 1, 2;
"""

with db.connect() as conn:
    df_sqlalchemy = pd.read_sql_query(text(query_string), conn)

df_sqlalchemy.head()

        month    year  monthly_revenue
0  2005-07-01  2005.0           3597.0
1  2005-08-01  2005.0           3601.0
2  2005-09-01  2005.0           3645.0
3  2005-10-01  2005.0           3640.0
4  2005-11-01  2005.0           3635.0

In [16]:
df_sqlalchemy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   month            117 non-null    object
 1   year             117 non-null    float64
 2   monthly_revenue  117 non-null    float64
dtypes: float64(2), object(1)
memory usage: 2.9+ KB

In [17]:
#export the data to a csv-file
df_sqlalchemy.to_csv('data/prog_customer.csv',index=False)

In [18]:
#import the data from a csv-file
df_customer = pd.read_csv('data/prog_customer.csv')

In [11]:

# --- Load AFO data ---
query_string_afo = """
SELECT *
FROM takemehome.prognostica_afo;
"""

with db.connect() as conn:
    df_sqlalchemy_afo = pd.read_sql_query(text(query_string_afo), conn)

In [12]:
#export the data to a csv-file
df_sqlalchemy_afo.to_csv('data/prog_afo.csv',index=False)
#import the data from a csv-file
df_afo = pd.read_csv('data/prog_afo.csv')

In [13]:
df_afo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    117 non-null    object
 1   value   117 non-null    object
dtypes: object(2)
memory usage: 2.0+ KB